{% extends 'dashboard/base.html' %}

{%  block content %}

    <h1>Liste des questions</h1>

    <p> Nombre de question créé: {{nb_question}}</p>

    <ul>
        {% for question in question_list %}

        <div class="card">
            <div class="card-header">
                question: {{question.id}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Thème: {{ question.titre }}</h5>
                <p class="card-text">
                    <ul>
                        <strong> Question: </strong> {{ question.intitule }} <br>
                        <strong> Bonne réponse: </strong> {{ question.bonneReponse }} <br>
                        <strong> Coefficient: </strong> {{ question.coefficient }} <br>
                        <strong> Feedback: </strong> {{ question.feedback }} <br>
                        
                    </ul>
                </p>
          </div>
        
        {% endfor %}
    </ul>

{% endblock %}