{% extends 'dashboard/base.html' %}

{%  block content %}

    <h1>Liste des sessions</h1>

    <p> Nombre de session créé: {{nb_session}}</p>

    <ul>
        {% for session in session_list %}

        <div class="card">
            <div class="card-header">
                Session: {{session.intituleSession}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Thème: {{ session.idQuiz.intituleQuiz }}</h5>
                <p class="card-text">
                    <ul>
                        <strong>Service: </strong> {{ session.idQuiz.codeService }} <br>
                        <strong>Date de début: </strong>{{ session.dateDebutSession }} <br>
                        <strong>Date de fin: </strong>{{ session.dateFinSession }} <br>
                        <strong>Participants: </strong>{{ session.idSession.codeService.nom }}
                    </ul>
                </p>
          </div>
        
        {% endfor %}
    </ul>

{% endblock %}